.link {
  display: flex;
  color: var(--base-font-color);
  font-size: var(--nav-font-size);
  text-decoration: none;
  margin: 0 var(--link-margin);
}

.linksHovered {
  color: var(--inactive-font-color);
}

.linksHovered .dot {
  background-color: var(--inactive-font-color);
}

.linksHovered:hover {
  color: var(--base-font-color);
}

.linksHovered:hover .dot {
  background-color: var(--base-font-color);
}

.activeLink {
  text-decoration: underline;
}
