:root {
  /* Should be same as ENTER_ANIMATION_TIMEOUT in component */
  --enter-animation-timeout: 500ms;

  /* In sum should be save as EXIT_ANIMATION_TIMEOUT in component */
  --exit-animation-timeout: 300ms;
  --exit-animation-delay: 100ms;
}

.curtain {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary-color);
  transform: translateY(-100vh);
}

.enter.curtain {
  display: block;
}

.enterActive.curtain {
  transform: translateY(0vh);
  transition: transform var(--enter-animation-timeout) ease-out;
}

.exit.curtain {
  display: block;
  transform: translateY(0vh);
}

.exitActive.curtain {
  transform: translateY(-100vh);
  transition: transform var(--exit-animation-timeout) ease-in;
  transition-delay: var(--exit-animation-delay);
}
