body {
  background-color: var(--base-background-color);
  color: var(--base-font-color);
  font-family: 'Red Hat Text', sans-serif;
  padding: var(--body-padding);
}

body.modal-is-open {
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    padding: var(--body-padding-for-mobile);
  }
}
