body {
  background-color: var(--base-background-color);
  color: var(--base-font-color);
  font-family: 'Red Hat Text', sans-serif;
  padding: 60px;
}

@media (max-width: 768px) {
  body {
    padding: 24px;
  }
}
