:root {
  --body-padding: 60px;
  --body-padding-for-mobile: 24px;

  --base-background-color: #ecece8;

  --base-font-color: #2c2c2c;
  --inactive-font-color: #cccccc;
  --invert-font-color: #ffffff;

  --primary-color: #ffd32a;

  --nav-font-size: 24px;
  --full-screen-nav-font-size: 48px;

  --md-bp: 768px;
}
